name: Test Python Versions

on: [push]

jobs:
  test-py-vers:

    name: "Py ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.11", "3.12", "3.13"]
        os: [ubuntu-24.04]
        #exclude:
        #  - python-version: "3.7"
        #    os: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install hatch
        run: python -m pip install hatch
      - name: Test
        run: hatch run test
      - name: Display Found Cert Path
        run: hatch run python${{ matrix.python-version }} scripts/print_cert_path.py
